.box {
 font-family: Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
 font-weight: 400;
 margin-top:20px;
}

.thumbnail {
 margin-top:40px;
}

.score {
 margin-right:0;
 border: 2px solid;
}

.top-box {
 margin-top:5px;
 float:right;
}