{% extends "base.html" %}

{% block title %}RDoK{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}

<div class="top-box">
<a class="github-button" href="https://github.com/Deffro/random-dose-of-knowledge" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Star Deffro/random-dose-of-knowledge on GitHub">Star</a>
</div>

<div class="row">
    <div class="title">
        Random Dose of Knowledge
    </div>
</div>

<div class="row d-flex justify-content-center">
    <form action="/" method="post" style="margin-top:2px">
        <input type="hidden" name="subreddit" value="todayilearned" />
        <button type="submit" class="btn btn-warning btn-lg">Today I Learned</button>
    </form>
    <form action="/" method="post" style="margin-left:10px; margin-top:2px">
        <input type="hidden" name="subreddit" value="YouShouldKnow" />
        <button type="submit" class="btn btn-dark btn-lg">You Should Know</button>
    </form>
    <form action="/" method="post" style="margin-left:10px; margin-top:2px">
        <input type="hidden" name="subreddit" value="science" />
        <button type="submit" class="btn btn-success btn-lg">Science</button>
    </form>
    <form action="/" method="post" style="margin-left:10px; margin-top:2px">
        <input type="hidden" name="subreddit" value="funfacts" />
        <button type="submit" class="btn btn-danger btn-lg">Fun Facts</button>
    </form>
</div>

{% if title %}
<div class="row">
    <div class="col box">
        <div class="row">
            <span style="font-size: 1em; color: #ffc107; margin-right:5px;">
                <i class="far fa-calendar-alt"></i>
            </span>
            {{created}}
            <span style="font-size: 1em; color: #ffc107; margin-left:8px; margin-right:5px;">
                <i class="fab fa-reddit"></i>
            </span>
            <a href="{{permalink}}" target="_blank">source</a>
            <div class="ml-auto mr-3">
                <span style="font-size: 1em; color: #ffc107;">
                    <i class="fas fa-medal"></i>
                </span>
                {{total_awards_received}}
                <span style="font-size: 1em; color: #ffc107;">
                    <i class="far fa-comment-dots"></i>
                </span>
                {{num_comments}}
                <span style="font-size: 1em; color: #ffc107;">
                    <i class="fas fa-percentage"></i>
                </span>
                {{upvote_ratio}}
                <span style="font-size: 1em; color: #ffc107;">
                    <i class="far fa-star"></i>
                </span>
                {{score}}
            </div>
        </div>

        <div class="row">
            <div class="post">{{title}}</div>
        </div>

    </div>
    <div class="col-md-auto thumbnail">
        {% if title != 'default' %}
            <a href="{{url}}" target="_blank"><img src={{thumbnail}}></a>
        {% else %}
            <a href="{{url}}" target="_blank">external link</a>
        {% endif %}
    </div>
</div>

<div class="row">
<div class="comment-title">Top Comments</div>
</div>
{% for i,row in comments.iterrows() %}
<div class="row">
    <div class="comment">
    {{row['body']}}
                    <span style="font-size: 0.8em; color: #ffc107;">
                <i class="far fa-star"></i>
            </span>
        {{row['score']}}
        <hr class="horline">
    </div>

</div>
{% endfor %}


{% endif %}


<div class="row">
{{time}} {{count}}
</div>


<div class="row">
    <div class="container-fluid">
        <iframe src="../static/images/cumsum.html" width="100%" height="300" frameBorder="0"></iframe>
    </div>
</div>


{% endblock %}